<h1>CHOOSE YOUR TOPIC</h1>

<% if user_signed_in? %>
  <p>Welcome back!</p>
<% else %>
  <p>Please sign in.</p>
<% end %>

<div class="container mt-4">
  <div class="row justify-content-center">
<<<<<<< HEAD
    <% @topics.first(4).each do |topic| %>
=======
    <% @topics.each do |topic| %>
>>>>>>> master
      <div class="col-md-4 text-center mb-4">
        <%= link_to topic_path(topic) do %>
          <%= image_tag topic.image_filename,
            alt: topic.name,
            class: "img-fluid rounded clickable-image",
            style: "height: 250px; width: 100%; object-fit: cover;" %>
        <% end %>
        <h5 class="mt-2"><%= topic.name %></h5>
        <p><%= topic.description %></p>
        <%= link_to "Edit Topic", edit_topic_path(topic), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center mt-4">
  <%= link_to "Add Topic", new_topic_path, class: "btn btn-primary" %>
</div>
