<h1 class="page-title">Choose Your Topic</h1>

<div class="topics-container">
  <% @topics.each do |topic| %>
    <div class="topic-card">
      <h2><%= topic.name %></h2>
      <p><%= topic.description %></p>
      <div class="topic-actions">
        <%= link_to "Select Topic", topic_path(topic), class: "btn btn-select" %>
        <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-edit" %>
      </div>
    </div>
  <% end %>
</div>

<div class="bottom-actions">
  <% if user_signed_in? %>
    <p>Welcome back!</p>
  <% else %>
    <p>Please sign in.</p>
  <% end %>

  <%= link_to "Add Topic", new_topic_path, class: "btn btn-add" %>
</div>
