<div class="text-center my-5">

  <% if user_signed_in? %>
    <h1 class="display-4 fw-bold text-primary mb-3" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.2);">CHOOSE YOUR TOPIC</h2>
  <% else %>
    <p class="text-center">Please sign in.</p>
  <% end %>

 <div class="text-center mb-4">
    <%= link_to new_topic_path, class: "btn custom-orange btn-lg px-5 py-3 shadow-lg fw-bold mb-3" do %>
      <i class="bi bi-plus-circle me-2"></i> Add Topic

    <% end %>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <% @topics.each do |topic| %>
        <div class="col-md-4 text-center mb-4">
          <% if topic.image.attached? %>
            <div class="position-relative">
              <%= link_to topic_path(topic) do %>
                <%= image_tag topic.image, alt: topic.name, class: "img-fluid rounded", style: "height: 250px; width: 100%; object-fit: cover;" %>
              <% end %>

              <!-- Edit/Delete icons in top-right corner -->
              <div class="position-absolute top-0 end-0 d-flex flex-column align-items-end p-2 gap-1">
                <%= link_to edit_topic_path(topic) do %>
                  <%= image_tag "edit.png", alt: "Edit", size: "32x32", class: "img-fluid border border-black rounded-circle" %>
                <% end %>

                <%= link_to topic_path(topic), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <%= image_tag "delete.png", alt: "Delete", size: "32x32", class: "img-fluid border border-black rounded-circle" %>
                <% end %>
              </div>
            </div>
          <% end %>

          <h3 class="mt-2"><%= topic.name %></h3>
          <p><%= topic.description %></p>
        </div>
      <% end %>
    </div>
  </div>


</div>
